.launchesListEnter {
  opacity: 0;
  transform: translateX(100%);
}
.launchesListEnterActive {
  opacity: 1;
  transform: translateX(100%);
  transition: all 50000ms linear;
}
/* .launchesListExit {
  transform: translateX(-100%);
  opacity: 1;
}
.launchesListExitActive {
  opacity: 0;
  transform: translateX(-200%);
  transition: all 5000ms linear;
} */
